.planet {
  padding: 0 2.4rem 4.7rem;
}
.planet__image-container {
  padding: 9.5rem 0 9.8rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.planet__image {
  width: 11.1rem;
}
.planet__image-geology {
  position: absolute;
  bottom: 25%;
  width: 15%;
}
.planet__content-container {
  margin-bottom: 2.8rem;
}
.planet__text-container {
  text-align: center;
}
.planet__name {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-bottom: 1.6rem;
}
.planet__description {
  font-size: 1.1rem;
  line-height: 2.2rem;
  margin-bottom: 3.2rem;
}
.planet__source {
  opacity: 0.5;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
.planet__wikipedia-link {
  font-weight: 700;
  font-size: 1.2rem;
  color: hsla(0deg, 0%, 100%, 0.5);
  text-decoration: underline;
}
.planet__arrow {
  padding-left: 0.4rem;
  position: relative;
  top: 3px;
}
.planet__stats-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 32.7rem;
  margin: auto;
}
.planet__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2.4rem 1.3rem;
  border: 1px solid hsla(0deg, 0%, 100%, 0.2);
}
.planet__stats-name {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: hsla(0deg, 0%, 100%, 0.5);
  letter-spacing: 0.73px;
  padding-top: 0.3rem;
}
.planet__stats-number {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

@media screen and (min-width: 525px) {
  .planet {
    padding: 13.5rem 4rem 3.6rem;
  }
  .planet__text-container {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 6.9rem;
  }
  .planet__image-container {
    padding: 11.2rem 0;
  }
  .planet__image {
    width: 51.3%;
  }
  .planet__image-geology {
    bottom: 15%;
    width: 20%;
  }
  .planet__stats-container {
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    max-width: none;
  }
  .planet__stats {
    flex-direction: column;
    padding: 1.6rem 1.5rem 1.9rem;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .planet {
    padding-top: 16rem;
    max-width: 111rem;
    margin-inline: auto;
  }
  .planet__name {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 2.4rem;
  }
  .planet__image-container {
    padding: 5.4rem 0 3.7rem;
  }
  .planet__image-geology {
    bottom: 0;
    width: 20%;
  }
  .planet__text {
    width: 56%;
  }
  .planet__stats {
    width: 100%;
  }
  .planet__stats-container {
    gap: 1.1rem;
  }
  .planet__stats-number {
    font-size: 2.4rem;
    line-height: 3.1rem;
    letter-spacing: -0.9px;
  }
  .planet__stats-name {
    padding-top: 0;
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1125px) {
  .planet {
    padding: 8.5rem 0 5.6rem;
  }
  .planet__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12.6rem 0 8.7rem;
    gap: 22rem;
  }
  .planet__text {
    width: 100%;
  }
  .planet__text-container {
    flex-direction: column;
    gap: 3.9rem;
  }
  .planet__image-container {
    padding: 0;
    width: 45rem;
    margin-left: 9rem;
  }
  .planet__image {
    width: 100%;
  }
  .planet__image-geology {
    bottom: -65px;
    width: 16.3rem;
    left: 145px;
  }
  .planet__text-container {
    width: 35rem;
  }
  .planet__name {
    font-size: 8rem;
    line-height: 10.4rem;
    margin-bottom: 2.3rem;
  }
  .planet__description {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 2.4rem;
  }
  .planet__source {
    font-size: 1.4rem;
  }
  .planet__wikipedia-link {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .planet__stats-container {
    gap: 3rem;
  }
  .planet__stats {
    padding: 2rem 2.3rem 2.7rem;
  }
  .planet__stats-name {
    font-size: 1.1rem;
    line-height: 2.5rem;
    margin-bottom: 0.4rem;
  }
  .planet__stats-number {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}/*# sourceMappingURL=planet.css.map */