.header {

    position: relative;
    height: 11.2rem;

    &__container {
        position: fixed;
        z-index: 99;
        width: 100%;
    }

    &__nav {
        padding: 1.6rem 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        text-transform: uppercase;
    }

    &__hamburger-container {
        padding-top: 1rem;
    }

    &__scroll {
        background-color: #070724;
    }
}


@media screen and (min-width:525px) {
    
    .header {

        height: auto;

        &__nav {
            justify-content: center;
            padding: 1.6rem 2.4rem 0;
        }

        &__hamburger-container {
            display: none;
        }
    }
}