.header {

    position: relative;
    height: 11.4rem;


    &__container {
        position: fixed;
        z-index: 99;
        width: 100%;
    }

    &__nav {
        padding: 1.6rem 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        text-transform: uppercase;
    }

    &__hamburger-container {
        padding-top: 1rem;
    }

    &__scroll {
        background-color: #070724;
    }
}
