@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #F5F6FA;
}

h1, h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
}


.wrapper {
  background: url('../src/assets/images/background-stars.svg') #070724 no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 1125px) {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

}